:root {
    --primary-color:#000000;
}

body {
    font-family: cursive;
    margin: 0;
}

textarea {
    box-sizing: border-box;
    display: block;
    margin: 2rem auto;
    width: 80%;
    padding: 1rem;
    border: 1px solid black;
    min-height: 20vh;
}

button {
    display: block;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: cursive;
    background-color: #000000;
    border: none;
    color: white;
}

#output {
    box-sizing: border-box;
    border: 1px solid black;
    width: 80%;
    margin: 2rem auto;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    padding: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

nav div{
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    font-size: large;
}   
footer {
    width: 100%;
    padding: 1rem 0rem;
    background-color: #000000;
    text-align: center;
}

footer p {
    max-width: 600px;
    margin: auto;
    padding-bottom: 2rem;
    color: white;
}
h1{
    color: white;
}
